@keyframes bounceRibbonsLeft {
    0% {
        transform: translateY(0)
    }
    30% {
        transform: translateY(5px) rotateZ(-20deg);
    }
    60% {
        transform: translateY(10px) rotateZ(-10deg) translateX(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounceRibbonsRight {
    0% {
        transform: translateY(0)
    }
    30% {
        transform: translateY(-5px) rotateZ(20deg);
    }
    60% {
        transform: translateY(-10px) rotateZ(10deg) translateX(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes corpoCobracaju {
    0% {
        margin-left: -30px;
    }
    50% {
        margin-left: -70px;
    }
    100% {
        margin-left: -30px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #EEEEEE;
}

a {
    color: #000;
}

body.noturno a {
    color: #fff
}

body.noturno {
    background-color: #000000;
}

h1, h2, h3, h4 {
    font-family: 'Rowdies', cursive;
    font-weight: 300;
}

h4 {
    font-size: 1.2em;
}

.verde {
    color: #00923f
}

.amarelo {
    color: #ffc900
}

.amarelo-escuro {
    color: #e6b500
}

.vermelho {
    color: #d70800
}

body.noturno 
.vermelho {
    color: #D70086
}

.branco {
    color: #ffff
}

.preto {
    color: #000
}

.cinza {
    color: #C5C5C5
}

header {
    width: 100vh
}

.w-100 {
    width: 100%;
}

main {
    padding: 0 1em;
    overflow-x: hidden;
}

h1 {
    font-size: 2em;
    margin-bottom: 24px;
}

.text-center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

p {
    line-height: 1.5em;
}

.rainbow-text {
    border-width: 3px;
    border-style: solid;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3) 1 1 100%;
}

body.noturno p,
body.noturno ul li {
    color: #fff
}

.mw-100 {
    max-width: 100%;
}

.cauda, .rabo, footer {
    margin: 0 -2em;
}

navbar ul {
    display: flex;
    list-style-type: none;
    display: flex;
    padding: 0
}

navbar#extra {
    top: 80px;
}

navbar#extra ul {
    float: right;
}

navbar ul li a {
    display: block;
    position: relative
}

navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

navbar ul li a svg {
    height: 100%;
    width: 100%;
    max-height: 90px;
}

navbar ul li a:hover svg,
navbar ul li a:hover svg rect {
    height: 164px !important;
}

navbar ul li a:hover svg path {
    transition: .4s all;
    d: path('M147,164h0L73.5,100.357,0,164V0H147V164Z') !important;
}

navbar ul li a span {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    top: 12px;
    text-transform: uppercase;
    font-family: 'Rowdies', cursive;
    font-size: 16px;
}

navbar ul li a.coc span {
    top: 10px;
    font-size: 10px;
}

navbar::after {
    content: " ";
    display: block;
    position: absolute;
    height: 3px;
    background: black;
    width: 100%;
    left: 0;
    top: calc(1em + 5px);
    z-index: -1;
}

body.noturno navbar::after {
    background: white;
}

footer .ondas {
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
}

navbar ul li {
    margin-right: -5px;
}

navbar ul li a.patrocinio span {
    top: 15px;
    font-size: 9px;
}

body.noturno footer .ondas {
    background-image: url(../img/footer_dark.svg);
}

footer .linha {
    padding: 0 3em 3em;
}


footer .linha h3 {
    margin-top: 0;
    padding-top: 1em;
}

.display-none {
    display: none
}

body #lampada-branca,
body.noturno #lampada-preta,
img.nordeste_noturno,
body.noturno img.nordeste {
    display: none
}

body #lampada-preta,
body.noturno #lampada-branca {
    display: block
}

button {
    cursor: pointer;
}

button#enviar-form,
button.padrao, a.padrao {
    border: none;
    border-radius: 20px;
    padding: 10px 1.5em;
    box-shadow: 0 5px 3px rgb(0 0 0 / 19%);
    font-weight: 600;
    font-family: 'Roboto';
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    transition: all .2s;
}

button.padrao, a.padrao {
    background: #D70800;
    color: #fff;
    border: 3px solid #D70800;
}

button.padrao:hover, a.padrao:hover  {
    background: #af0600;
    border-color: #af0600;
}

body.noturno button.padrao, body.noturno a.padrao  {
    background: #D70086;
    box-shadow: 0 5px 3px rgba(255, 255, 255, 0.19);
    border: 3px solid #D70086;
}

body.noturno button.padrao:hover, body.noturno a.padrao:hover  {
    background: #a70168;
    border-color: #a70168;
}

button.padrao.light, a.padrao.light {
    background: #fff;
    color: #D70800;
    border: 3px solid #D70800;
}

body.noturno button.padrao.light, body.noturno a.padrao.light {
    background: #fff;
    color: #D70086;
    border: 3px solid #D70086;
    box-shadow: 0 5px 3px rgba(255, 255, 255, 0.19);
}

button.padrao.light:hover, a.padrao.light:hover,
body.noturno button.padrao.light:hover, body.noturno a.padrao.light:hover {
    background: #fff;
    opacity: .6;
}

button#enviar-form {
    background: white;
    color: #150069;
    margin: auto;
    box-shadow: 0 5px 3px rgb(0 0 0 / 80%);
}

body.noturno button#enviar-form {
    color: #007ed3;
}

button#enviar-form:disabled {
    opacity: .5;
    cursor: wait;
}

.text-uppercase {
    text-transform: uppercase;
}

div.slide-wrapper {
    position: relative;
    min-height: 300px;
}

section#sobre .slide-wrapper {
    margin-bottom: 50px;
}

div.slide-wrapper #slide {
    padding: 0 2em;
    width: 100%;
}

div.slide-wrapper svg {
    width: 40px
}

button#previous {
    left: -1em;
}

.btn-slide {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    padding: 0;
    bottom: 0;
}

button#next {
    right: -1em;
}

.cursor-pointer {
    cursor: pointer;
}

.items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 190px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-160%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(60%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
  }
  
  .button-container .button {
    color: #fff;
    cursor: pointer;
    position: relative;
    background: none;
    border: none;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }


section#patrocinio div.planos a.padrao,
section#coc a.padrao {
    margin: 2em auto;
    max-width: 200px;
}
section#patrocinio div#patrocinadores a {
    flex: 0 0 auto;
    width: calc(100% - 10px);
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    display: flex;
} 
div#patrocinadores a {
    display: block;
}
section#patrocinio div#patrocinadores img {
    max-height: 150px;
} 
body.noturno section#patrocinio div#patrocinadores img {
    background: rgb(255 255 255);
    padding: 5px;
    border-radius: 10px;
}
section#patrocinio div#patrocinadores #diamante a img {
    max-width: 267px;
}
section#patrocinio div#patrocinadores #ouro a img {
    max-width: 215px;
}
div#patrocinadores .menor a img {
    max-width: 130px;
    margin-bottom: 2em;
}

footer .campo input, footer .campo textarea {
    font-family: 'Roboto';
    min-height: 30px;
    border-radius: 20px;
    padding: 5px 0 5px 15px;
    margin-bottom: 20px;
    width: 100%;
    border: 3px solid transparent;
}

footer .campo input.error, footer .campo textarea.error {
    border: 3px solid #d70800;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
}

footer .campo {
    max-width: 400px;
}

footer .campo textarea {
    padding-top: 10px;
}

.social-media img {
    width: 50px;
}

.text-center.icones {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    margin: auto auto 1em;
}

.text-center.icone {
    margin-bottom: 2em;
}

#coc ul {
    list-style-type: none;
    padding-left: 1em;
}

#coc ul > li {
  margin-bottom: 5px;
}

#coc ul > li:before {
  content: "-";
}

.footer-wrapper {
    background: #150069
}

.linha {
    display: flex;
    flex-wrap: wrap;
}

.coluna {
    flex: 0 0 auto;
    width: 100%;
}

#decoration-right img {
    animation: bounceRibbonsRight 2s infinite;
    animation-timing-function: linear;
}

#decoration-right {
    right: -30px
}

#decoration-right #right-ribbon1{
    max-width: 100px;
    align-self: flex-end;
}

#decoration-right #right-ribbon3 {
    max-width: 150px;
    align-self: flex-end;
}

#decoration-left img {
    animation: bounceRibbonsLeft 2s infinite;
    animation-timing-function: linear;
}

#decoration-left {
    left: -25px
}

.decorations img {
    max-width: 200px;
    z-index: 0;
    opacity: 0.4;
}

.decorations {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    z-index: -1;
}

img.nordeste_noturno,
img.nordeste {
    max-height: 400px;
}

section#sobre {
    margin-bottom: 3em;
}

body.noturno footer .footer-wrapper {
    background: #007ED3
}

body.noturno .cauda svg g path {
    stroke: #007ED3
}

body.noturno img.nordeste_noturno {
    display: inline !important
}

div#cobracaju {
    margin: 6em 0 0;
    width: calc(100% + 75px);
    margin-left: -35px;
    min-height: 400px;
}

div#mapa,
div#mapa iframe {
    border-radius: 9px;
}

div#mapa {
    border: 5px solid #D70800;
    box-shadow: 0 5px 3px #D70800;
    height: 300px;
} 

body.noturno 
div#mapa {
    border: 5px solid #D70086;
    box-shadow: 0 5px 3px #D70086;
}

body ul li button#btnDarkmode {
    border: none;
    background: transparent;
    padding-top: 5px;
}

body ul li button#btnDarkmode img {
    width: 50px;
}

body.noturno g.vermelha path {
    fill: #D70086;
}

body.noturno g.azul path,
body.noturno div#rabo svg path {
    fill: #007ED3;
    stroke: #007ED3;
}

.cauda svg {
    max-width: none;
    margin-left: -30px;
    animation: corpoCobracaju 2s infinite;
    animation-timing-function: linear;
}

div#rabo svg {
    margin-left: -100px;
    height: auto !important;
}

div#mensagem-sucesso {
    color: white;
    font-size: 16px;
    min-height: 100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 11;
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 1000px;
  }
  
  #modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0 60px;
    height: 35px;
  }
  
  .close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }


section#sobre img.main {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.display-sm {
    display: block
}
.display-md {
    display: none;
}

img:not([src]) {
    visibility: hidden;
}
/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}

@media (max-width: 480px) {
    .cauda svg {
        max-width: 600px;
    }
    navbar#extra ul li a svg {
        max-height: 80px;
    }
}
@media (min-width: 576px) {
    navbar#extra {
        top: 90px;
    }
    section#patrocinio div#patrocinadores a {
        width: calc(33.3333333% - 10px);
    }
}
@media (min-width: 768px) {
    .coluna {
        flex: 0 0 auto;
        width: 50%;
    }
    div#mapa {
        margin-right: 2em;
    }
    footer .ondas {
        height: 120px;
    }
    .items .button-container {
        width: 45%;
    }
    .decorations img {
        max-width: 300px;
    }
    section#geral .coluna:first-child {
        width: 30%;
    }
    section#geral .coluna:nth-child(2) {
        width: 70%;
    }
    div#cobracaju {
        margin: 4em 0;
        width: calc(100% + 50px);
        margin-left: 0;
    }
    main {
        padding: 0 2em;
        overflow-x: hidden;
    }
    .cauda, .rabo, footer {
        margin: 0 -2em;
    }
    div#mensagem-sucesso {
        min-height: 380px;
        font-size: 20px;
    }
    footer .ondas {
        height: 140px;
    }
    .display-sm {
        display: none
    }
    .display-md {
        display: block;
    }
}
@media (min-width: 992px) {
    .items .button-container {
        width: 60%;
    }
    .item.prev {
        transform: translate(-180%, -50%);
    }
    .item.next {
        transform: translate(80%, -50%);
    }
    .mw-main {
        max-width: 1024px;
        margin: auto;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 2.5em;
    }
    h4 {
        font-size: 2em;
    }
    .social-media img {
        width: 70px;
    }
    .text-center.icones {
        max-width: 250px;
        margin: auto auto 2em;
    }
    section#patrocinio a.padrao, section#coc a.padrao {
        margin: 3em auto 2em;
    }
    .items .item {
        width: 350px;
        height: 200px;
    }
    .item.active {
        width: 400px;
        height: 250px;
    }
    section#patrocinio h2 {
        margin-top: 2em;
    }
    navbar ul li a span {
        top: 18px;
    }
    navbar ul li a.patrocinio span {
        font-size: 11px;
    }
    navbar ul li a.coc span {
        font-size: 12px;
    }
    section#patrocinio div#patrocinadores a {
        width: calc(25% - 10px);
    }
}
/* @media (min-width: 1024px) {
} */
@media (min-width: 1200px) {
    section p {
        font-size: 1.3em;
        text-align: justify;
        line-height: 1.7em;
    }
    #coc ul > li {
        line-height: 1.5em;
        font-size: 1.2em;
    }
    .items .button-container {
        width: 45%;
    }
    .mw-main {
        max-width: 1300px;
    }
    .item.prev {
        transform: translate(-200%, -50%);
    }
    .item.next {
        transform: translate(100%, -50%);
    }
    .pd-section {
        padding: 0 2em;
    }
    footer .linha {
        padding: 0 5em 3em;
    }
    div#cobracaju {
        min-height: 650px;
    }
}
@media (min-width: 1800px) {
    .decorations {
        display: flex
    }
}